body{
  background: #f7f7f7;
}
p{
  margin:8px;
}
h2{
  font-size: 20px;
  margin:10px;
}
.forum-container{
  width:600px;
  margin: 15px auto;
}
h1{
  text-align: center;
}
ul{
  padding-inline-start:0px;
  list-style: none;
}
textarea,
input[type="text"]{
  border:1px solid #ddd;
  border-radius: 4px;
}
input[type="text"]{
  width:180px;
  height: 35px;
}
input[type="submit"]{
  all: unset;
  text-align: center;
  padding: 10px;
  width:70px;
  height:20px;
  border-radius: 4px;
  line-height: 23px;
  color:#fff;
  background-color:#37a1e5;
  opacity:0.9;
}
input[type="submit"]:hover{
  opacity:1.0;
}
.data_area{
  width:900px;
  margin: 10px auto;
}
article{
  margin-top:20px;
  padding: 20px;
  background: #fff;
  border-radius: 4px;
}
article h2{
  font-size: 15px;
  display: inline-block;
}
.success_message{
  padding:8px;
  color:#32cd32;
  border: 1px solid #32cd32;
  border-radius: 4px;
}
.login{
  width:500px;
  margin:10px auto;
}
.btn_cancel {
  margin-top: 10px;
  text-decoration: none;
	display: inline-block;
	margin-right: 10px;
  text-align: center;
  line-height: 35px;
	color: #555;
	font-size: 15px;
	border-radius: 5px;
	border: 1px solid #999;
  width: 90px;
  height: 35px;
}
